#new-gallery {
	margin-top: 5%;
	margin-left: 10%;
	}

.header-article {
	color: #307226;
	font-size: 15px;
	font-weight: bold;
}

.social-media-header {
	color: #307226;
	font-size: 20px;
	font-weight: bold;
}

.greeterCharacters {
	position: relative;
	left: 0px;
}